#MediaPlayer{
    -fx-background-color: #353535;
}

#MediaPlayer .label{
    -fx-text-fill: white;
}

.tab-pane .tab-header-background {
    -fx-background-color: #353535;
    -fx-text-fill: white;
}

.tab-pane .tab {
    -fx-background-color:#353535 ;
}

.tab-pane .tab .tab-label {
    -fx-text-fill: white;

}

#listView {
    -fx-background-color: orange;
}

.list-view .list-cell {
    -fx-text-fill: white;
    -fx-padding: 25px;
    -fx-border-width: 3px;
    -fx-font-size: 20px;
}

.list-view .list-cell:odd {
    -fx-background-color: #353535;
}

.list-view .list-cell:even {
    -fx-background-color: #313131;
}

.list-view .list-cell:focused {
    -fx-text-fill: orange;
    /* Adjust the font size as needed */
}

